services:
  mysql:
    image: mysql:8.0
    container_name: tmi-mysql
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5
      timeout: 2s
    deploy:
      resources:
        limits:
          memory: 512m
    env_file:
      - ./backend/.env.prod

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: tmi-backend
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: "-Xms256m -Xmx256m"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - ./backend/.env.prod

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: tmi-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql-data:
