name: Backend CI

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend Image
        run: |
          docker build -f Dockerfile.prod -t ${{ secrets.DOCKERHUB_USERNAME }}/tmi-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tmi-backend:latest
