name: Frontend CI

on:
  push:
    branches: ["main"]
    paths:
      - "frontend/**"

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Frontend Image
        run: |
          docker build --build-arg NEXT_PUBLIC_API_BASE_URL=http://15.165.160.251:8080/api \
            -f ./frontend/Dockerfile.prod -t ${{ secrets.DOCKERHUB_USERNAME }}/tmi-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tmi-frontend:latest
